#-----------------------------------------
# main frontend
#-----------------------------------------
frontend main
    bind *:8000
    acl url_static  beg



#-----------------------------------------
#
#-----------------------------------------
